@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'JetBrains Mono', monospace;
}

.input-like {
    display: block;
    width: 100%;
    font-size: 1.25rem;
    color: #064431;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.5rem 0;
    resize: none;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.input-like:focus {
    outline: none;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    padding: 0.75rem;
}

.field-container {
    margin-bottom: 2rem;
    text-align: left;
}

.label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #064431;
    margin-bottom: 0.5rem;
    display: block;
}

.steps-container .step {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.steps-container .step input[name="step_name[]"] {
    flex: 2;
}

.steps-container .step input[name="step_due_date[]"] {
    flex: 1;
}

.steps-container .remove-btn {
    color: #e44d26;
    font-weight: bold;
    cursor: pointer;
}

.steps-container .remove-btn:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid #10c875;
    margin: 1.5rem 0;
}
