@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'JetBrains Mono', monospace;
}

.task-checkbox input:checked + .task-text {
    text-decoration: line-through;
    color: #888888;
}

.clickable-div {
    cursor: pointer;
}

.tag {
    background-color: #10c875;
    color: white;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    margin-right: 0.5rem;
    display: inline-block;
}

/* Custom Checkbox Styles */
.custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.checkbox-icon svg {
    position: relative;
    z-index: 1;
    transition: color 0.2s ease;
    color: #10c875;
}

.custom-checkbox input:checked + .checkbox-icon {
    background-color: #10c875;
    transform: scale(1.1);
}

.custom-checkbox input:checked + .checkbox-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #10c875;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.custom-checkbox input:checked + .checkbox-icon::before {
    transform: scale(1);
}

.custom-checkbox input:checked + .checkbox-icon svg {
    color: white;
}