@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'JetBrains Mono', monospace;
}

.task-checkbox input:checked + .task-text {
    text-decoration: line-through;
    color: #888888;
}

.clickable-div {
    cursor: pointer;
}

.tag {
    background-color: #10c875;
    color: white;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    margin-right: 0.5rem;
    display: inline-block;
}

/* Custom Checkbox Styles */
.custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* Checkbox Icon Styles */
.checkbox-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.checkbox-icon svg {
    position: relative;
    z-index: 1;
    transition: color 0.2s ease;
    color: #10c875;
}

/* On Hover (instead of on check) */
.custom-checkbox:hover .checkbox-icon {
    background-color: #10c875;
    transform: scale(1.1);
}

.custom-checkbox:hover .checkbox-icon svg {
    color: white;
}

/* Optional: If you want the hover effect only when input is focused */
.custom-checkbox input:focus + .checkbox-icon {
    background-color: #10c875;
    transform: scale(1.1);
}

.custom-checkbox input:focus + .checkbox-icon svg {
    color: white;
}
